
.gradient{
    -fx-background-color: linear-gradient(to bottom right,#b3a494,#703403);
}

.button{
    -fx-cursor:hand;
    -fx-textfill:#ffffff;
    -fx-border-color: none;
    -fx-background-radius: 20px;
    -fx-background-color:linear-gradient(to bottom right,#ab8b75,#703403);
}
.button:hover{
    -fx-background-color:#703403;
    -fx-textfill:#ffffff;
}
.textfield{
    -fx-border-color: linear-gradient(to bottom right,#ab8b75,#703403);
    -fx-border-image-width: 0.5px;
}
.textfield:focused{
    -fx-border-image-width: 1px;
    -fx-border-color: #703403;

}
